!!!
%html
  %head
    %title Cosmic Fuse
    = stylesheet_link_tag 'application', media: 'all'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lobster'
    = csrf_meta_tags
  %body
    %header
      .navbar-fixed
        %nav
          .nav-wrapper.container
            %a.brand-logo.right{href: "#!"}
              = image_tag 'logo.png'
            %ul#slide-out.side-nav.fixed
              %li{class: isHomePage && 'active'}
                %a{href: isHomePage ? '#' : '/home', class: 'waves-effect waves-orange'} Home
              %li{class: isSongsPage && 'active'}
                %a{href: isSongsPage ? '#' : '/songs', class: 'waves-effect waves-orange'} Songs
              %li{class: isPhotosPage && 'active'}
                %a{href: isPhotosPage ? '#' : '/photos', class: 'waves-effect waves-orange'} Photos
              %li{class: isEventsPage && 'active'}
                %a{href: isEventsPage ? '#' : '/events', class: 'waves-effect waves-orange'} Events
              %li{class: isContactsPage && 'active'}
                %a{href: isContactsPage ? '#' : '/contacts', class: 'waves-effect waves-orange'} Contacts
              %li
                = link_to "https://www.facebook.com/#{fb_page_id}", target: "_blank" do
                  = image_tag 'fb_logo.png'
                  = 'Facebook'
            %a.button-collapse{"data-activates" => "slide-out", :href => "#"}
              %i.mdi-navigation-menu
    %main.container
      = yield
    %footer.page-footer
      .footer-copyright
        .container
          © 2017 by Cosmic Fuse Band
          = link_to "https://github.com/llhupp", target: "_blank", class: 'grey-text text-lighten-4 right' do
            Created by Lyric Hupp
    = javascript_include_tag 'application'
    = yield :javascripts
    :javascript
      window.runPageJs('#{fb_app_id}', '#{fb_token}', '#{fb_page_id}');